:root {
    --primary: #121F27;
    --secondary: #416275;
    --accent1: #6191A8;
    --accent2: #BBCFDA;
    --accent3: #E4EEF0;
    --white: #FFFFFF;
    --black: #0D1014;

    --sidenavWidth: 150px;
}